/* activities.styl */


.style-equitation 
    background-color: #814e1f
    #header #logo p
        background-color: #814e1f
    .bg-grass
        background-image: url(images/bg-grass-equit2.jpg)
    .bg-halo
        background-image: url(images/bg-blue.jpg)
        background-color: #153e68
    section.bg-white h2 
        color: blue
    section.bg-white h3
        color: red
    #section-book
        background-image: url(images/bg-grass-equit.jpg)   
.style-foot
	background-color: #7cc247
      
	#header #logo p
		background-color: #7cc247
	.bg-grass
        background-image: url(images/foot/bg-grass.jpg)
        background-position: center center!important
	.bg-halo
        background-image: url(images/foot/bg-red.jpg);
        background-color: #E1372F;
	section.bg-white h2, section.bg-white h3
    	color:red
    
    .level1:after
        background-image: url("images/foot/picto-level1.png")
    .level2:after
        background-image: url("images/foot/picto-level2.png")
    .level3:after
        background-image: url("images/foot/picto-level3.png")
