/* activities.styl */


.style-equitation 
    background-color: #814e1f
    #header #logo p
        background-color: #814e1f
    .bg-grass
        background-image: url(images/bg-grass-equit2.jpg)
    .bg-halo
        background-image: url(images/bg-blue.jpg)
        background-color: #153e68
    section.bg-white h2 
        color: blue
    section.bg-white h3
        color: red
.style-foot
	background-color: #7cc247
	#header #logo p
		background-color: #7cc247
	.bg-grass
		background-image: url(images/bg-grass-foot.jpg)
	.bg-halo
        background-image: url(images/bg-red.jpg);
        background-color: #E1372F;
	section.bg-white h2, section.bg-white h3
    	color:red
