body.page-template-equit-command
    header#header
        background-color: white
    header
        text-align: center
        padding: rem(10) 0
    .vertical-container
        height: 240px
          
#section-commande
    p
        max-width: rem(400)
        margin-left: auto
        margin-right: auto
        text-align: left
    .listradio-wrap 
        li
            float: left
            margin: 0 rem(10) 0 0!important 
    .nf-response-msg
        color: green
        
.single-product
    .summary
        text-align: left
        margin-top: rem(60)
        h1.product_title
            text-align: left
            font-size: em(28)
            margin-left: 0
        .price
            margin: rem(20) 0
        .amount
            font-size: em(20)
            font-weight: bold;
            color: black_text
            // &:before
            //     content:"4,90€"
            //     text-decoration: line-through
            //     font-size: em(10)
            //     font-weight: normal
            //     margin-right: rem(6)
            // &:after
            //     content: "Prix de lancement"
            //     background-color: red_light
            //     border-radius: rem(30);
            //     color: white
            //     text-transform: uppercase
            //     padding: rem(6) rem(15) rem(4) rem(15)
            //     display: inline-block
            //     position:relative
            //     top:-5px
            //     margin-left: rem(10)
            //     font-size: em(10)
        p
            font-size: em(14)
        .quantity
            float: none!important
            margin-top: rem(20)!important;
            label
                font-weight: bold
            input
                border-radius: rem(8);
                border: 0
                margin-left: rem(10)
                padding: rem(10) rem(7) rem(10) rem(10);
                font-size: em(14);
            
        button
            display: block
            border-radius: rem(8)!important;
            margin-top: rem(20)


.woocommerce-page:not(.single-product)
    h3
        margin-bottom: rem(10)!important
    .container
        max-width: inherit!important
    .button 
        box-shadow: none!important
        font-family: SFUIDisplay
        color:white!important
        background-color: #477ABD!important
    .input-text 
        border-radius: rem(8);
        padding: rem(10)
        border: 1px solid black_text

.woocommerce-message
    border-top-color: blue_light
    &:before
        color: blue_light
    .button
        color: white!important
    
.woocommerce .cart-collaterals .cart_totals, .woocommerce-page .cart-collaterals .cart_totals
    float: none
    width: 100%
            
