body.page-template-equit-command
    header#header
        background-color: white
    header
        text-align: center
        padding: rem(10) 0
    .vertical-container
        height: 240px
          
#section-commande
    background: blue_sky
    p
        max-width: rem(400)
        margin-left: auto
        margin-right: auto
        text-align: left
    .listradio-wrap 
        li
            float: left
            margin: 0 rem(10) 0 0!important 
    .nf-response-msg
        color: green