body.page-template-equit-command
    header#header
        background-color: white
    header
        text-align: center
        padding: rem(10) 0
    .vertical-container
        height: 240px
          
#section-commande
    background: blue_sky
    p
        max-width: rem(400)
        margin-left: auto
        margin-right: auto
        text-align: left
    .listradio-wrap 
        li
            float: left
            margin: 0 rem(10) 0 0!important 
    .nf-response-msg
        color: green
        
.single-product
    .summary
        text-align: left
        margin-top: rem(60)
        h1.product_title
            text-align: left
            font-size: em(28)
            margin-left: 0
        
        .amount
            font-size: em(20)
            font-weight: bold;
            color: black_text
        p
            font-size: em(14)
        .quantity
            float: none!important
            margin-top: rem(20)!important;
            label
                font-weight: bold
            input
                border-radius: rem(8);
                border: 0
                margin-left: rem(10)
                padding: rem(10) rem(7) rem(10) rem(10);
                font-size: em(14);
            
        button
            display: block
            border-radius: rem(8)!important;
            margin-top: rem(20)
            