#equitation-landing
    .font-comics
        font-family: KaushanScript
        font-weight: normal  
        color : red_light  
    .button2
        background-color : blue
        color: white
        text-align : center
        font-family : Montserrat
        border-radius(85px)   
        display : block
        padding: 10px 5px;

        
    hr
        background-color: #E5E5DB    
        height : 1px
        border: none;
        
    header
        background : #93ecf5
        .logo
            retina('equitation/logo-header','png')
            width: 200px
            height: 142px
            display: block
            margin: 0 auto 
        .services
            background : peach
            width : 100%
            text-align: center
            padding: 2px 0;
        
        
    .bg-sky
        linear_gradient(top, #93ecf5 , #50C6DB)  
          
    #section-intro
        padding-top : 0
        h2 
            margin-top : 5px
        p  
            margin-top : 8px
        .button 
            margin-top : 20px
        .video
            float: right;
            text-align: center;
            iframe
                width: 100%;
                height: 266px;


    #section-noel
        retina('equitation/bg-noel','png')
        background-size: 100%;
        background-position: bottom;
        background-repeat: no-repeat;
        padding-top : 0
        h2 
            color : white
            font-size: 36px
        h3
            margin: 15px 0
        .content
            width: 360px;
            margin : 0 auto
            
        .couv-noel
            float : left
            retina('equitation/couv-offre-noel','png')
            width : 150px
            height : 208px
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
        .info
            float : left
        .offer
            background-color : white
            border-radius(85px)
            text-align: center
            width : 140px
            height : 180px
            padding: 0 20px;
            margin-top: 13px;
            .font-comics
                display: inline-block
                margin-top: 5px;
                color: red_light
            span
                display: inline-block
        .button
            top: -15px;
            position: relative;
            margin-left: 8px;
            
    #section-why
        background : peach
        text-align: center
        padding : 30px 0
        h3 
            margin-top : 8px
            padding : 0 10px
        ul
            margin-top : 5px
            text-align: left
            list-style : none
            padding: 0 30px;
        li 
            padding-left: 20px;
            margin-top : 5px
            &:before
                content: "•"
                font-size: 30px
                color : red
                width : 8px;
                height : 8px;
                margin-left : -20px
                display:block
                top: -3px;
                position: relative;
    
    .section-testimonial
        h2 
            text-align: center
        blockquote
            margin : 15px auto 0 auto
            width : 320px
            text-align: center
            p
                font-size: 18px
                padding : 0 40px
                font-family: Montserrat
                line-height : 22px
            img
                overflow:hidden
                border-radius(15px)
                width : 30px
                height : 30px
                margin: 15px auto 5px auto;
                display : block
            &:before, p:before
                content : ""
                width : 30px;
                height : 20px;
                display:block
                position: relative;
            &:before
                retina('equitation/icon-quote-in-yellow','png')
                top: 16px
            p:before
                float : right
                position: absolute;
                margin-left: 250px;
                margin-top: -5px;
                retina('equitation/icon-quote-out-yellow','png')
    #section-content
        iframe
            margin: 20px auto 20px auto;
            max-width: 100%;
            max-height: 100vh;
        h3
            margin : 20px 0 10px 0
        li
            list-style : none
            height : 25px
            i 
                color : red
                
    #section-command
        h2
            margin-bottom : 10px
        p
            text-align: left
        h3 
            margin-top : 10px
        .promo 
            text-align : center
        .sell-alone
            img 
                float:left
            div
                float:left
                width: 40%;
                text-align: left;
                p
                    color : red
        .button2
            margin-top : 5px
    #section-social
        .facebook 
            background-color : blue
            retina('equitation/icon-fb','png')            
            border-radius(85px)
            width : 35px
            height : 35px
            background-position: center;
            background-size : 10px 18px!important
            
#footer-equitation
    
    background : #88E5EF
    .logo
        retina('equitation/logo-header','png')
        width: 200px
        height: 142px
        display: block
        margin: 0 auto
    .menu-footer
        font-size: 14px;
        margin-top: 50px; 
    .createdby
        margin-top: 40px; 
        font-size: 14px;
        text-align: center
    .maracuja
        width : 100%
        
canvas{
    position:absolute;top:0;left:0
    background-image: linear-gradient(bottom, rgb(105,173,212) 0%, rgb(23,82,145) 84%);
    background-image: -o-linear-gradient(bottom, rgb(105,173,212) 0%, rgb(23,82,145) 84%);
    background-image: -moz-linear-gradient(bottom, rgb(105,173,212) 0%, rgb(23,82,145) 84%);
    background-image: -webkit-linear-gradient(bottom, rgb(105,173,212) 0%, rgb(23,82,145) 84%);
    background-image: -ms-linear-gradient(bottom, rgb(105,173,212) 0%, rgb(23,82,145) 84%);
    
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, rgb(105,173,212)),
        color-stop(0.84, rgb(23,82,145))
    );
}
// @media screen and (max-width: 60em) 
//     #equitation-landing
//         #section-intro
//             .video
//                 iframe
//                     width: 100%;
//                     height: 50vw;
          
@media screen and (max-width: 45em)
     
    #equitation-landing
        #section-intro
            .video
                iframe
                    width: 100%;
                    height: 50vw;  
        #section-noel
            background-size: 200% 100%;
            background-position: left;
            .couv-noel
                width : 156px
                height : 214px
            .offer
                background-color : white
                border-radius(85px)
                text-align: center
                width : 130px
                height : 160px
                padding: 0 20px;
                margin-top: 13px;
