/* equitation.styl */

#header-club
    background-color: blue_light
    color:white
    text-align: center
    padding : rem(8) 0 rem(7) 0
    width: 100%
    display: block
    
    
.page-template-equit-landing
    #section-book 
        background-image: url(images/bg-grass-equit.jpg) 
        h2
            color: white
            margin-bottom: rem(10)
        .vertical-container
            height: 340px
    #section-collaboration
        img
           display: inline-block 
        .row
            text-align: left
        .detail
            margin-left: rem(10)
            max-width: rem(300)
            display: inline-block
        h3
            background-color: #E1372F
    #section-content
        color:white 
        .col-4
            text-align: right
            height: rem(105)
            background-repeat:no-repeat!important
            padding: rem(25) 0 0
        h3
            background-color: rgba(44,50,45,0.1)  
            color:white 
            margin-top: rem(65)
        .dwh
            background: url(images/equitation/content_dwh.png) #4A3A36
        .mouth
            background: url(images/equitation/content_mouth.png) #F3A84B
        .maths, .francais
            h3
                bottom: rem(15);
                position: relative;
                margin-top: rem(8);
        .maths
            background: #E1372F  
            i
                color: red
                
        .francais
            background: blue_light
            i
                color: blue
                
        .leprevost
            background: url(images/equitation/content_leprevost.png) #2F3726 
        .foot
            background: url(images/equitation/content_foot.png) #37ACA4

        i
            font-size: em(24)
        p
            margin: 0 0 0 rem(20)
            text-align: left


            
.style-equitation 
    background-color: #F2F4E7
    #header #logo p
        background-color: #814e1f
    .bg-grass
        background-image: url(images/bg-grass-equit2.jpg)
         
    // h3
    //     background-color: #2C322D
    //     border-radius: rem(30);
    //     color: white
    //     text-transform: uppercase
    //     font-family: SFUIDisplay
    //     padding: rem(8) rem(15) rem(6) rem(15)
    //     display: inline-block
    //     margin-bottom: 0
    //     margin-left: 0
    //     font-size: em(14)
    
    #club
        h3
            background-color : red_light
            margin-bottom: rem(10)
        .bg-club
            background-image: url(images/equitation/bg-club.jpg) 
            background-repeat: no-repeat;
            background-size: cover;
            background-color: green_light;
            background-position: center bottom;
        .row
            text-align: left
    #testimonial
        .col-6
            text-align: center
            margin-top:rem(25)
    #offer
        i
            color:red
        em
            color: red
            margin: rem(10) 0
            display: block
    
    .level1:after
        background-image: url("images/equitation/picto-level1.png")
    .level2:after
        background-image: url("images/equitation/picto-level2.png")
    .level3:after
        background-image: url("images/equitation/picto-level3.png")
        
