#equitation-landing
    .font-comics
        font-family: KaushanScript
        font-weight: normal  
        color : red_light  
    .button2
        background-color : blue
        color: white
        text-align : center
        font-family : Montserrat
        border-radius(85px)   
        display : block
        padding: 10px 5px;

        
    hr
        background-color: #E5E5DB    
        height : 1px
        border: none;
        
    .nf-form-wrap input[type=button]
        background-color : blue!important
        box-shadow (none)!important
        border-radius(30px)

    header
        position: relative;
        .logo
            retina('equitation/logo-header','png')
            width: 200px
            height: 142px
            display: block
            margin: 0 auto 
        .services
            background : blue
            width : 100%
            text-align: center
            padding: 2px 0;
            color: white
            display:block
        
    #bg-sky
        retina('equitation/bg-noel','png')
        background-size: contain !important;
        background-position: bottom;
        background-repeat: no-repeat; 
        position: relative;
    .bg-sky
        linear_gradient(top, #93ecf5 , #50C6DB) 

    #section-intro
        padding-top : 0
        h2 
            margin-top : 5px
        p  
            margin-top : 8px
        .button 
            margin-top : 20px
        .video
            text-align: center;
            margin: 30px 0;
            iframe
                width : 100%


    #section-noel
        margin-top: 30px;
        padding-top : 0
        h2 
            color : white
            font-size: 36px
        h3
            margin: 15px 0

            
        .couv-noel
            text-align: right
            div
                retina('equitation/couv-offre-noel','png')
                width : 150px
                height : 208px
                background-size: contain;
                background-repeat: no-repeat;
                display: inline-block;

        .offer
            div
                background-color : white
                border-radius(85px)
                text-align: center
                width : 140px
                height : 180px
                padding: 0 20px;
                .font-comics
                    display: inline-block
                    margin-top: 5px;
                    color: red_light
                span
                    display: inline-block
            .button
                position: absolute;
                margin-left: 10px;
                float: left;
                display: block;
                margin-top: -10px;
            
    #section-why
        background : peach
        text-align: center
        padding : 30px 0
        h3 
            margin-top : 8px
            padding : 0 10px
        .values
            margin-top : 5px
            text-align: left
            list-style : none
        .col-4 
            padding-top: 20px;
            margin-top : 10px
            &:before
                content: "•"
                font-size: 30px
                color : red
                width : 8px;
                height : 8px;
                margin-left : 50%
                display:block
                top: -28px;
                position: relative;
    
    #section-testimonial
        h2 
            text-align: center
        blockquote
            margin : 15px auto 0 auto
            max-width : 320px
            text-align: center
            p
                font-size: 18px
                padding : 0 40px
                font-family: Montserrat
                line-height : 22px
            img
                overflow:hidden
                border-radius(15px)
                width : 30px
                height : 30px
                margin: 15px auto 5px auto;
                display : block
            &:before, p:before
                content : ""
                width : 30px;
                height : 20px;
                display:block
                position: relative;
            &:before
                retina('equitation/icon-quote-in-yellow','png')
                top: 16px
            p:before
                margin-left: 100%
                margin-top: -5px;
                retina('equitation/icon-quote-out-yellow','png')
            span
                display: block
                margin-top : 10px

            .video
                margin : 10px 0
                iframe
                    max-height: 180px;
                    max-width: 100%;
                
    #section-content
        iframe
            margin: 20px auto 20px auto;
            max-width: 100%;
            max-height: 100vh;
        h3
            margin : 20px 0 10px 0
        li
            list-style : none
            min-height : 25px
            i 
                color : red
                
    #section-command
        h2
            margin-bottom : 10px
        p
            text-align: left
        h3 
            margin-top : 10px
        .promo 
            text-align : center
        .sell-alone
            img 
                float:left
            div
                float:left
                width: 40%;
                text-align: left;
                p
                    color : red
        .button2
            margin-top : 5px
    #section-social
        .facebook 
            background-color : blue
            retina('icon-facebook','png')            
            border-radius(85px)
            width : 35px
            height : 35px
            background-position: center;
            background-size : 10px 18px!important
    
    #section-stages
        background : #EAFDFF
        text-align: left
        h2 
            margin-bottom : 10px 
        h3
            margin : 10px 0 5px 0
        ul
            margin : 5px 0 10px
        li 
            margin-top : 3px
            list-style : none
            padding-left : 22px
            &:before
                content: ""
                retina('equitation/icon-stage','png') 
                width : 15px
                height : 22px
                margin-left : -22px
                display:block
                position: absolute;
            a
                font-weight: bold
    
    #section-contact
        h2
            margin-bottom : 10px
    
#gift-card-command
    display: none
        
#footer-equitation
    
    linear_gradient(top, #93ecf5 , #50C6DB) 
    
    .logo
        retina('equitation/logo-header','png')
        width: 200px
        height: 142px
        display: block
        margin: 0 auto
    #menu-footer
        font-size: 14px;
        margin-top: 60px;
    .createdby
        margin-top: 40px; 
        font-size: 14px;
        text-align: center
    .maracuja
        width : 100%
    .social
        a
            &.facebook
                retina('icon-facebook','png')
                background-size : 10px 19px!important
            &.twitter
                retina('icon-twitter','png')
                background-size : 18px 15px!important
            &.youtube
                retina('icon-youtube','png')
                background-size : 18px 21px!important
                
            background-color : #98222A
            border-radius(85px)
            width : 35px
            height : 35px
            background-position: center;
            display: inline-block;
            background-repeat: no-repeat;
            
        
canvas{
    position: absolute;
    display: inline;
    width:100%
    
}
// @media screen and (max-width: 60em) 
//     #equitation-landing
//         #section-intro
//             .video
//                 iframe
//                     width: 100%;
//                     height: 50vw;
          
@media screen and (max-width: 45em)
     
    #equitation-landing
        #bg-sky
            background-size: 200% 30%!important;
            background-position: left bottom;
        #section-intro
            .video
                iframe
                    width: 100%;
                    height: 50vw;  
        #section-noel
            
            .couv-noel
                text-align: center
            .offer
                text-align:center
                div
                    background-color : white
                    border-radius(85px)
                    text-align: center
                    width : 130px
                    height : 160px
                    padding: 0 20px;
                    margin: 13px auto 0 auto;
                .button
                    position:relative
                    float : none
        #section-why
            .col-4
                p
                    margin: 0 0 0 30px;
                &:before
                    margin-left : 0px
                    display:block
                    top: -3px;
                
    #footer-equitation
        background-size: auto;
        background-position: left bottom;
        .col-3
            width: 100%
        #menu-footer
            margin-top : 0
        li
            height : 30px
            display: block;
            &:after 
                content:""
