body.error404
    header#header
        background-color: white
    main
        background-color: green_light  
        text-align: center
        padding: rem(40) 0
    h2
        color:white
    .container
        text-align: center
        
    .button
        margin: rem(30) 0
