/* foot.styl */

.style-foot.page-id-173 
    section 
        padding-top : rem(10)
    #header #logo p
        display: none
    
.style-foot
    background-color: beige
    #section-book 
        h2
            margin-bottom: rem(10)
        .vertical-container
            height: 340px
            
    #section-content .img-container
        height: rem(85)

    #section-mission
        text-align: left
        
    #section-team
        img
            border-radius: rem(100)
            overflow:hidden
        p
            opacity: 1

    #header #logo p
        background-color: #7cc247
    .bg-grass
        background-image: url(images/foot/bg-grass.jpg)
        background-position: center center!important
        h2
            color: white

    h3
        background-color: red_light
        border-radius: rem(30)
        color: white
        text-transform: uppercase
        font-family: SFUIDisplay
        padding: rem(8) rem(15) rem(6) rem(15)
        display: inline-block
        margin-bottom: 0
        margin-left: 0
        font-size: em(14)
        
    
    .level1:after
        background-image: url("images/foot/picto-level1.png")
    .level2:after
        background-image: url("images/foot/picto-level2.png")
    .level3:after
        background-image: url("images/foot/picto-level3.png")
        

