/* footer.styl */

footer
    color: white
    padding: rem(20) 0
    text-align: center
    a 
        color: white
        display: inline-block
        font-size: em(12)
        &:after 
            content:"•";
            width: 7px;
            height: 7px;
            color: #E3EFF9;
            margin: rem(10);
            font-size: em(12);
        &:last-child:after{content: ""}
        &:hover, &:active
            opacity: 0.8
            

    p
        margin: rem(10) 0
        font-size: em(14)

        &.made
            font-size: em(12)
            font-weight: bold
        
            
                    