/* foot.styl */

.style-foot
    background-color: #7cc247
      
    #header #logo p
        background-color: #7cc247
    .bg-grass
        background-image: url(images/foot/bg-grass.jpg)
        background-position: center center!important
    .bg-halo
        background-image: url(images/foot/bg-red.jpg);
        background-color: #E1372F;
    section.bg-white h2, section.bg-white h3
        color:red
    
    .level1:after
        background-image: url("images/foot/picto-level1.png")
    .level2:after
        background-image: url("images/foot/picto-level2.png")
    .level3:after
        background-image: url("images/foot/picto-level3.png")