/* footer.styl */

footer
    background: beige
    color: black_text
    padding: rem(50) 0 rem(40) 0
    text-align: left
    
    .maracuja
        background-image: url(images/logo-maracuja.png)
        background-repeat: no-repeat
        background-position: center
        width: rem(169)
        height: em(47)
        float: left
    ul
        display: inline-block
        margin: rem(13) 0 0 rem(15)
        li 
           
            display: inline-block
            &:after 
                content:"•";
                width: 7px;
                height: 7px;
                color: black_text
                margin: rem(10) rem(5) rem(10) rem(5);
                font-size: em(12);
            &:last-child:after{content: ""}
            a
                color: black_text
                &:hover, &:active
                    opacity: 0.8
            
    .right
        text-align: right    
    .made
        margin-top:6px
        
            
@media only screen and (max-width: 45em) 
        
    footer
        text-align: center   
        .maracuja
            float: none;  
            display: inline-block
        
        .right
            text-align: center      
