
        
.nf-form-cont
    max-width: rem(400)
    margin: rem(20) auto 0 auto
    .nf-form-fields-required
        display: none
    input, textarea
        border-radius(8px)
        padding: rem(15) rem(20)
        border: 1px solid #E5E5DB
        font-size: em(14)
    input[type=button]
        border: none
        padding-top: rem(5) ;
        padding-bottom: rem(5) ;
  

.nf-field-element textarea {
    height: 100px!important;
}


nf-field
    text-align: left

.nf-error-msg        
    background-color: red
    color : white!important 
    border-radius(8px)
    padding: rem(10)

.nf-response-msg
    background-color: white
    color : black!important 
    border-radius(8px)
    padding: rem(15) rem(20)
    text-align: left
    a
        color: green!important
