body 
    background: #99D9EC
    font-family: "SFUIDisplay"
    color: #2C322D
    font-smoothing()

h1, h2
    font-family: "Montserrat"
    text-align: center

h1
    em(18)
    color:#2D62A8
    
h2
    em(14)
    
p 
    em(12)
    
.container
    width: 984px
    margin: 0 auto
     
#content
    padding: 20px

#video
    width: 100%
    height:500px
    

i.heart
    background: url('images/heart.png') no-repeat
    width: 20px
    height: 20px
    display: inline-block
    

@media screen and (max-width: 1024px) 
    .container
        width: 748px
    #video
        height: 300px
        
@media screen and (max-width: 768px) 
    .container
        width: 100%
    #video
        width: 100%
        height: 50vw

