/* general.styl */

body 
    font-family: SFUIDisplay, Arial
    color: #2C322D
    font-smoothing()
    line-height: em(18)
    

h1, h2
    font-family: Montserrat
    font-size: em(28)
    line-height: em(20)
    margin: rem(7) 0
    font-weight: bold
    color: blue_light
    
h3
    font-size: em(18)
    margin: rem(7) rem(10)
    font-weight: bold
    color: #2D62A8
   
h4 
    text-transform: uppercase;
    font-weight: bold;
    margin-top: rem(20);
    color: blue;
p 
    font-size: em(16)
    line-height: em(24)
main
    background: white
    overflow: auto
a
    color: #2D62A8
    &:hover, &:active, &:focus
        opacity: 0.8


img
    max-width: 100%;
    height: auto;


section
    padding: rem(60) rem(20) rem(60) rem(20);
    text-align: center;


section:after
  visibility: hidden
  display: block
  font-size: 0
  content: " "
  clear: both
  height: 0


article
    margin: rem(30) 0
    header
        text-align: center
    .rating
        margin: 0 auto
        width: 250px;
        text-align: center;
        background-color: white
        border-radius(30px)
        padding: rem(5) rem(10)
        display: block
        position: relative;
        top: rem(10);
        font-size: em(12)
    .post-ratings
        display: inline
        


.entry-content{
    margin-top: 0;
}

.button, input[type=button]
    -webkit-appearance: none;
    line-height: rem(25)
    color: white;
    display: inline-block;
    text-align: center;
    margin: 0 auto;
    font-family: montserrat;
    font-weight: bold;
    text-align: center;
    padding: rem(7) rem(45) rem(5) rem(45);
    border-radius: 10px;
    box-shadow: -4px 4px 0 #CD2027!important;
    background-color: #E1372F!important;
    border:0;

.button:hover, .button:focus,.nf-form-layout input[type=button]:hover,.nf-form-layout input[type=submit]:focus
    background-color: #CD2027;
    border:0;
    font-weight: bold
    color:white


#content
    padding: rem(20)
    margin: rem(10) 0
    h3
        margin-top: rem(40) 
    .level1, .level2, .level3, .level0
        margin: rem(30) 0 rem(10) 0;
        strong
            background-color: #477ABD
            box-shadow(-2px 2px 0 #2D62A8!important)
            border-radius(30px)
            color: white
            font-family: "Montserrat-Black"
            display: inline
            padding: rem(5) rem(10)
            margin-right: rem(5)
            margin-left: rem(5)
            position: relative
            top: -7px
        &:after
            width: 74px
            height: 22px
            content: ""
            display: inline-block
            background-repeat: no-repeat
            
        
            
            
    
    blockquote
        padding: 0 0 0 rem(10)
        p
            display: inline
        &:before, &:after 
            color: #2D62A8;
            display: inline
        &:before
            content:'« ';
        &:after 
            content:' »';
            text-align: right
    table {
        font-family: verdana,arial,sans-serif;
        font-size:11px;
        color:#333333;
        border-width: 1px;
        border-color: #666666;
        border-collapse: collapse;
    }
    table th {
        border-width: 1px;
        padding: 8px;
        border-style: solid;
        border-color: #666666;
        background-color: #dedede;
    }
    table td {
        border-width: 1px;
        padding: 8px;
        border-style: solid;
        border-color: #666666;
        background-color: #ffffff;
    }
    img.size-full
        width: 100%
        height: inherit;

#video
    width: 100%
    text-align: center
    iframe
        max-width: 100%

    

i.heart
    background: url('images/heart.png') no-repeat
    width: 20px
    height: 20px
    display: inline-block
    top: 6px
    position: relative
    
.vertical-container
    display: table

.vertical-container .box
    display: table-cell
    vertical-align: middle


.page-template-default
    #content h3
        margin-bottom: rem(20);
    
@media screen and (max-width: 1024px) 
    .container
        width: 748px
          
@media screen and (max-width: 768px) 
    .container
        width: 100%
    #video
        iframe
            width: 100%
            height: 50vw

