/* gym.styl */
    
.style-gym 
    background-color: #F2F4E7
    #header #logo p
        background-color: #984399
         
    h3
        background-color: #2C322D
        border-radius: rem(30);
        color: white
        text-transform: uppercase
        font-family: SFUIDisplay
        padding: rem(8) rem(15) rem(6) rem(15)
        display: inline-block
        margin-bottom: 0
        margin-left: 0
        font-size: em(14)
        
    #section-book 
        linear_gradient(top, #88E5EF, #50C6DB) 
        h2
            color: blue_light
            margin-bottom: rem(10)
        .vertical-container
            height: 340px
    #section-collaboration
        img
           display: inline-block 
        .row
            text-align: left
        .detail
            margin-left: rem(10)
            max-width: rem(300)
            display: inline-block
        h3
            background-color: purple_light
    

    .button, input[type=button]
        box-shadow: -4px 4px 0 purple!important;
        background-color: purple_light!important
        
    
    .level1:after
        background-image: url("images/gym/picto-level1.png")
    .level2:after
        background-image: url("images/gym/picto-level2.png")
    .level3:after
        background-image: url("images/gym/picto-level3.png")
        
    .nf-response-msg a
        color: purple !important
