/* header.styl */

header#header
    background: #99D9EC
#logo
    background: url('images/logo.png') no-repeat
    width: 246px
    height: 150px
    display: block
    margin: 0 auto
    text-align: center
    p 
        border-radius(rem(10))
        font-weight: bold
        color: white
        display: inline-block
        padding: rem(2) rem(20)
        font-size: em(12)
        margin-top: rem(105)