#logo
    background: url('images/logo.png') no-repeat
    width: 246px
    height: 150px
    display: block
    margin: 0 auto
    text-align: center
    p 
        border-radius(8px)
        font-weight: bold
        color: white
        display: inline-block
        padding: 2px 20px
        font-size: em(12)
        margin-top: 105px