/* header.styl */

header#header
    background: white
    .fb-container
        float: right
        font-size: em(12)
        text-align: center
        margin-top: rem(35)
#logo
    background: url('images/logo.png') no-repeat
    width: 246px
    height: 150px
    display: block
    margin: 0 auto
    text-align: center
    p 
        border-radius(rem(10))
        font-weight: bold
        color: white
        display: inline-block
        padding: rem(2) rem(20)
        font-size: em(12)
        margin-top: rem(105)

@media screen and (max-width: 768px) 
    header#header
        .fb-container
         display: none