/* landing.styl */

#landing
    p
        margin: em(10) 0;
    h2
        margin-bottom: rem(30)
#menu 
    nav 
        position: relative
        background: white
        width: 1024px
        margin: 0 auto
        background: white
        text-align: center
        width: 100%
        overflow: hidden
        height: 45px
        padding-top: 4px
        z-index: 10
        border-bottom: 1px solid #F9F9F9
        a
            color: #2D62A8;
            font-size: em(18);
            font-family: "Montserrat";
            line-height: 35px;
            display: inline-block;
            cursor: pointer;

            &:after 
                content:"•";
                width: 7px;
                height: 7px;
                color: #E3EFF9;
                margin: 10px 10px;
                font-size: 1.3em;

            &:last-child:after
                content: ""
            &:hover, &.active, &:focus
                color:#7CC247;
    a.button
        position: absolute
        z-index: 11
        top: rem(5)
        right: rem(5)
        padding-left : 5px
        padding-right : 5px

.fixed 
    #menu 
        a.button
            position: fixed
        nav
            position: fixed
            top : 0
    #content
        margin-top: 50px







.entry-content{
    margin-top: 0;
}
.button, input[type=button]{
    -webkit-appearance: none;
    line-height: rem(25)
    color: white;
    display: inline-block;
    text-align: center;
    margin: 0 auto;
    font-family: montserrat;
    font-weight: bold;
    text-align: center;
    padding: rem(7) rem(45) rem(5) rem(45);
    border-radius: 10px;
    box-shadow: -4px 4px 0 #CD2027!important;
    background-color: #E1372F!important;
    border:0;
}
 .button:hover, .button:focus,.nf-form-layout input[type=button]:hover,.nf-form-layout input[type=submit]:focus{
    background-color: #CD2027;
    border:0;
    font-weight: bold
    color:white
}

section.separator
    background-image: url(images/separator.png);
    background-size: 100% 22px;
    background-position: center bottom;
    background-repeat: no-repeat;


section.bg-white
    background-color: white;
    color:black_text;


section.bg-beige
    background-color: #F2F4E7
    color:black_text

    


section.bg-white em
    font-size: 0.7em; 

.bg-grass
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #7CC247;
    background-position: center bottom;
    color:white;


section.bg-grass a{color:white;}
section.bg-grass h3{color:white; text-align: center;}
section.bg-halo
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    color:white;


section.bg-blue
    #content 
        text-align: left
    
/******** SECTIONS ***********/

#section-book 
    .button 
        margin: 15px 0 0px 0;
    .vertical-container
        text-align: left


#section-preview
    clear:none
    iframe
        margin: 20px auto 20px auto
        max-width: 100%
        max-height: 100vh
#section-pricing
    background: #f3f3f3
    h3
        margin: 10px 0
    i 
        color: red
    .asterisque
        font-size: em(12)

        
#section-mission
    text-align: left
    

#section-social
    text-align: center;
    a
        background-repeat: no-repeat;
        width: 160px;
        height: 160px;
        display: inline-block;
        cursor: pointer;
        margin-top: 20px;

#section-team 
    text-align: center
    .bg, p
        transition: opacity .5s ease-in;
        opacity: 0
    .bg
        background-color: rgba(44,50, 45, 0.90)
        width: rem(200)
        height: rem(200)
        position: absolute
        border-radius: rem(200)
    p
        padding: 0 rem(10)
        position: relative
        hyphens: auto
    h3
        color: white
        position: relative
        background-color: rgba(44,50, 45, 0.40)
    .member
        display: inline-block
        border-radius: rem(200)
        height: rem(200)
        width: rem(200)
        background-repeat: no-repeat
        color: white
        
    .member:hover
        .bg, p
            opacity: 1


#section-axes .img-container
    height: 100px

#section-mission{
    text-align: left
}


a.contact-email{background-image: url(images/email-icon.png);}
a.contact-fb{background-image: url(images/fb-icon.png);}
a.contact-tw{background-image: url(images/tw-icon.png);}

.social 
    text-align: center;

.social p
    font-size: 0.7em
.social .fb-like, .social .twitter-share-button
    display: inline-block;

.social .fb-like >span
    height: 28px!important;

.twitter-share-button 
    margin-left: 10px;



@media only screen and (max-width: 45em) 
    #section-book 
        .vertical-container
            text-align: center
            height : inherit!important
            display: block
    #menu
        background:transparent
        a.button
            margin-top: rem(170)
            margin-right: 34%
        nav a
            display: block; 
        nav
            height: 0; padding-top: 0
        .hamburger
            background-color: white;
            background-image: url(images/menu.png);
            background-repeat: no-repeat; 
            background-position: center;
            border-radius: 4px;
            width: 45px;
            height: 40px;
            cursor: pointer;
            position: fixed;
            top: 10px;
            left: 10px;
            z-index: 2;
        .close
            background-image: url(images/menu-close.png)
            background-repeat: no-repeat;
            width: 40px
            height: 40px
    
        &.menu-opened 
            nav
                height: inherit
                z-index: 1
                padding: rem(10) 0
                position: absolute
            a:after
                content: ""
            .hamburger
                background-image: url(images/menu-close.png);
    .fixed
        #menu
            a.button
                top: rem(10)
                right: rem(10)
                margin-top: 0
                margin-right: 0
                position: fixed
            &.menu-opened nav
                padding: rem(45) 0 rem(10) 0
                position: fixed

