browser-context= 16
em(pixels, context = browser-context) 
    return (pixels/context)em
rem(pixels, context = browser-context) 
    return (pixels/context)rem

red = #cd2027
red_bg = #e1372f

blue = #2d62a8

blue_bg = #477abd
blue_sky = #99D9EC

black_text = #2C322D

green = #29B24B
green_bg = #7CC247