browser-context= 16
em(pixels, context = browser-context) 
    return (pixels/context)em
rem(pixels, context = browser-context) 
    return (pixels/context)rem

red = #D0021B
red_light = #e1372f

blue = #2d62a8

blue_light = #477abd
blue_sky = #99D9EC

black_text = #2C322D

green = #29B24B
green_light = #7CC247

purple = #7D287F
purple_light = #984399

beige = #F2F4E7
peach = #FFF2E0
